<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exemplo.lanchonete">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Lanchonete"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".HotDogActivity" />

        <activity android:name=".XBurguerActivity" />

        <activity android:name=".PizzaActivity" />

        <activity android:name=".RefrigeranteActivity" />

        <activity android:name=".CoxinhaActivity" />

        <activity android:name=".PastelActivity" />

        <activity android:name=".BatataFritaActivity" />

        <activity android:name=".PaoDeQueijoActivity" />

        <activity android:name=".SucoActivity" />

        <activity android:name=".MilkshakeActivity" />

        <activity android:name=".CarrinhoActivity" />

        <activity android:name=".DadosEntregaActivity" />

        <activity android:name=".ComprovanteActivity" />

        <activity android:name=".SobreActivity" />

    </application>

</manifest>
